{% extends "layout.html" %}

{% block title %}
chai tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to chai django</h1>

{% if form.instance.pk %}
    Edit tweet
{% else %}
    Create tweet
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>     
<a href="{% url 'tweet_list' %}"> back to tweet tweet list</a>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
